body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "nutella million dp ." ". . . ." ". . . .";
    font-family: 'Special Elite', cursive;
}
.nutella {
    grid-area: nutella;
    background-color: #38d1bc;
    padding: 30%;
}
.mpie {
    grid-area: million;
    background-color: #ed452f;
    padding: 30%;
}
.dpb {
    grid-area: dp;
    background-color: #abd2fa;
    padding: 30%;
}
a:link {
    text-decoration: none;
}
.mpie > a {
    color: white;
    font-size: 20px;
}
.dpb > a {
    color: white;
    font-size: 20px;
}
.nutella > a {
    color: white;
    font-size: 20px;
}