body {
    background-image: url("./millon\ background.jpg");
    object-fit: contain;
    font-family: 'Dancing Script', cursive;
}
header {
    color: #fb6107;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
ul {
    list-style: none;
    text-align: center;
    color: #fb6107;
    font-size: 30px;
}
p {
    text-align: center;
    color: #fb6107;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 30px;
}
.dir {
    color: #5c8001;
    text-align: center;
}
.ing {
    color: #5c8001;
    text-align: center;
}
h1 {
    font-size: 40px;
}